<!--ul class="collection with-header">
    <li class="collection-header">
        <h4>{{titulo}}</h4>
    </li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
    <li class="collection-item">Alvin</li>
</ul-->
<div class="chip">
    <i class="material-icons">track_changes</i>
    <!--img src="images/yuna.jpg" alt="Contact Person"-->
    El dia 27 de octubre, a las 8:00 pm se realizara el proceso de subasta por parte de ESE Taminago. 
  </div>