<!--div class="card" style="padding:1em 0em 1em 0em"-->
    <form>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="razon_social" name="razon_social" type="text" class="validate">
                <label for="razon_social">Razon social</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="nit" name="nit" type="text" class="validate">
                <label for="nit">NIT</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="direccion" name="direccion" type="text" class="validate">
                <label for="direccion">Dirección</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <select id="pais" name="pais" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1"><span class="color-option">Pais 1</span></option>
                    <option value="2"><span class="color-option">Pais 2</span></option>
                    <option value="3"><span class="color-option">Pais 3</span></option>
                </select>
                <label for="pais">Pais</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <select id="departamento" name="departamento" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1"><span class="color-option">Departamento 1</span></option>
                    <option value="2"><span class="color-option">Departamento 2</span></option>
                    <option value="3"><span class="color-option">Departamento 3</span></option>
                </select>
                <label for="departamento">Departamento</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <select id="ciudad" name="ciudad" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1"><span class="color-option">Ciudad 1</span></option>
                    <option value="2"><span class="color-option">Ciudad 2</span></option>
                    <option value="3"><span class="color-option">Ciudad 3</span></option>
                </select>
                <label for="ciudad">Ciudad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="telefono" name="telefono" type="text" class="validate">
                <label for="telefono">Teléfono fijo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="fax" name="fax" type="text" class="validate">
                <label for="fax">Fax</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="celular" name="celular" type="text" class="validate">
                <label for="celular">Celular</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="correo" name="correo" type="email" class="validate">
                <label for="correo">Correo electrónico</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">Contraseña</label>
            </div>
        </div>        
        <div class="row">
            <div class="input-field col s12 l8 offset-l2">
                <select id="fuente" name="fuente" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1"><span class="color-option">Internet</span></option>
                    <option value="2"><span class="color-option">Televisión</span></option>
                    <option value="3"><span class="color-option">Radio</span></option>
                    <option value="4"><span class="color-option">Otro</span></option>
                </select>
                <label for="fuente">Como se entero de SaludVentas</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center">
                <button type="submit" class="waves-effect waves-light btn-large green_allnexus">Guardar</button>
            </div>
        </div>
    </form>
<!--/div-->