<div class="contenido-inner">
    <a class="waves-effect waves-light blue btn modal-trigger boton" href="#modal1">Registrar Entidad</a>
    <a class="waves-effect waves-light amber btn modal-trigger boton" href="#modal2">Registrar Provedor</a>
    <div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <span class="green_text_allnexus">Regitro Entidad</span>
                <frm-registro></frm-registro>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="green_text_allnexus">Regitro Provedor</span>
                <frm-registro></frm-registro>
            </div>
        </div>
    </div>
</div>