<div class="card" style="padding:1em 0em 1em 0em">
    <!--span class="card-title green-text">Ingrese la siguiente información:</span-->
    <form>
        <div class="row">
            <div class="input-field col s4">
                <input id="razon_social" name="razon_social" type="text" class="validate">
                <label for="razon_social">Razon social</label>
            </div>
            <!--/div>
        <div class="row"-->
            <div class="input-field col s4">
                <input id="nit" name="nit" type="text" class="validate">
                <label for="nit">NIT</label>
            </div>
            <div class="input-field col s4">
                <select id="categoria" name="categoria" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1">Entidad</option>
                    <option value="2">Provedor</option>                    
                </select>
                <label for="categoria">Categoria de la empresa</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="direccion" name="direccion" type="text" class="validate">
                <label for="direccion">Dirección</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <select id="pais" name="pais" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1">Pais 1</option>
                    <option value="2">Pais 2</option>
                    <option value="3">Pais 3</option>
                </select>
                <label for="pais">Pais</label>
            </div>
            <!--/div>
        <div class="row"-->
            <div class="input-field col s4">
                <select id="departamento" name="departamento" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1">Departamento 1</option>
                    <option value="2">Departamento 2</option>
                    <option value="3">Departamento 3</option>
                </select>
                <label for="departamento">Departamento</label>
            </div>
            <!--/div>
        <div class="row"-->
            <div class="input-field col s4">
                <select id="ciudad" name="ciudad" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1">Ciudad 1</option>
                    <option value="2">Ciudad 2</option>
                    <option value="3">Ciudad 3</option>
                </select>                
                <label for="ciudad">Ciudad</label>
            </div>
        </div>
        <!--div class="row">
            <div class="input-field col s12">
                <input id="categoria" name="categoria" type="text" class="validate" >
                <label for="categoria">Categoria de la empresa</label>
            </div>
        </div-->
        <div class="row">
            <div class="input-field col s4">
                <input id="telefono" name="telefono" type="text" class="validate">
                <label for="telefono">Teléfono fijo</label>
            </div>
            <!--/div>
        <div class="row"-->
            <div class="input-field col s4">
                <input id="fax" name="fax" type="text" class="validate">
                <label for="fax">Fax</label>
            </div>
            <!--/div>
        <div class="row"-->
            <div class="input-field col s4">
                <input id="celular" name="celular" type="text" class="validate">
                <label for="celular">Celular</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="correo" name="correo" type="text" class="validate">
                <label for="correo">Correo electrónico</label>
            </div>
            <!--/div>
        <div class="row"-->
            <div class="input-field col s6">
                <select id="fuente" name="fuente" type="text" class="validate">
                    <option value="" disabled selected>...</option>
                    <option value="1">Internet</option>
                    <option value="2">Televisión</option>
                    <option value="3">Radio</option>
                    <option value="4">Otro</option>
                </select>                 
                <label for="fuente">Como se entero de SaludVentas</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 center">
                <button type="submit" class="waves-effect waves-light btn-large">Guardar</button>
            </div>
        </div>
    </form>
</div>