   @font-face {
    font-family: TenbyFive;
    src: url(../fonts/tenby-five.otf);
  }

   @font-face {
    font-family: Chivo;
    src: url(../fonts/Chivo-regular.ttf);
  }

  html, body {
    font-family: Chivo;
    min-height: 100vh;
    height: 100vh;
  }

.center-crop {
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

.complete-screen {
    min-height: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
  color: #ACC245 ;
}

      /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #ACC245;
     box-shadow: 0 1px 0 0 #000;
}

   /* label focus color */
.input-field input[type=email]:focus + label {
     color: #ACC245 ;
 }

      /* label underline focus color */
 .input-field input[type=email]:focus {
     border-bottom: 1px solid #ACC245;
     box-shadow: 0 1px 0 0 #000;
 }

   /* label focus color */
 .input-field input[type=password]:focus + label {
     color: #ACC245 ;
 }

      /* label underline focus color */
 .input-field input[type=password]:focus {
     border-bottom: 1px solid #ACC245;
     box-shadow: 0 1px 0 0 #000;
 }

 .color-option {
       color: #ACC245;
 }

.green_allnexus_alpha {
     background-color: rgba(172, 194, 69, 1);
}

.green_allnexus {
     background-color: #ACC245;
}

.gray_allnexus {
     background-color: rgb(127, 128, 128);
}

.black_allnexus {
     background-color: #353535;
}

.gray_text_allnexus {
     font-family: TenbyFive;
     color: rgb(127, 128, 128);
 }

 .black_text_allnexus {
     font-family: TenbyFive;
     color: #353535;
 }

 .green_text_allnexus {
     color: #ACC245;
 }

.transparent-panel{
  background: rgba(0,0,0,0.6);
}

#contenedor_registro {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.contenedero {
  display: flex;
    flex-direction: column;
}

.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 601px) {
  .contenido {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}

.contenido-left {
  flex: .5;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: solid palegreen;*/
}

.contenido-inner {
  display: flex;
  justify-content: space-around;
  /*border:solid yellow;*/
}

.contenido-right {
  flex: .5;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border:solid rosybrown;*/
}

.boton_icon1 {
  background-image: url(../img/portafolio.png);
}

.boton_icon2 {
  background-image: url(../img/RecibidoProductos.png);
}

.boton {
  height: 200px;
  width: 200px;
  margin: 1em;
}